body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.slider-container {
    position: relative;
    width: 400px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-image {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}



button {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}